/*PC's e telas maiores*/

@media only screen and (max-width:1200) {
    .hero-text-box{
    width: 100%;
    padding: 0 2%;
   }
    
    .row {padding: 0 2px;}
    
}

/*Tablets maior e computadores menores: 767 até 1023*/

@media only screen and (max-width:1023) {
    
    body{font-size: 18px;}
    section{padding: 60px 0;}
    .long-copy{
        
        width: 80%;
        margin-left: 10%;
        text-align: center;
}

    
}

/*Smartphones com telas maiores e tablets menores: 481 até 767*/

@media only screen and (max-width:767) {
    
}

/*Smartphones com telas pequenas: 0 até 480px*/

@media only screen and (max-width:480px) {
    
}